@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

//Primary
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
//Neutral
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("/assets/pattern-background-desktop.svg") no-repeat;
}

.component {
    background: white;
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.order-img {
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.order-title {
    margin: 2rem 0rem 1.5rem 0rem;
    font-size: 1.875rem;
    color: $dark-blue;
}

.order-content {
    text-align: center;
    width: 80%;
    color: $desaturated-blue;
}

.plan {
    display: flex;
    align-items: center;
    margin: 3rem 0rem;
    width: 70%;
}

.plan-selected {
    flex-direction: column;
    flex: auto;
    margin-left: 1rem;
}

.plan-name {
    color: $dark-blue;
    font-weight: 900;
}

.plan-price {
    color: $desaturated-blue;
}

.plan-change {
    color: $bright-blue;
    transition: 0.3s all;
}

.plan-change:hover {
    color: $desaturated-blue;
}

.plan-change:active {
    opacity: 0.75;
    transform: scale(95%);
}

.btn-payment {
    width: 80%;
    height: 3rem;
    border: none;
    background: $bright-blue;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 0.675rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-payment:hover {
    background: $desaturated-blue;
}

.btn-payment:active {
    opacity: 0.75;
    transform: scale(95%);
}

a {
    text-decoration: none;
}

.plan-cancel {
    color: $desaturated-blue;
    margin-top: 1.5rem;
    font-weight: 900;
    transition: 0.3s all;
}

.plan-cancel:hover {
    color: $dark-blue;
}

.plan-cancel:active {
    opacity: 0.75;
    transform: scale(95%);
}